components:
  tolerations:
    - effect: NoSchedule
      key: infrastructure
      operator: Exists
  affinity:
    nodeAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        nodeSelectorTerms:
          - matchExpressions:
              - key: node-type
                operator: In
                values:
                  - infrastructure

serviceMonitor:
  enabled: true
storeGateway:
  enabled: true
queryFrontend:
  enabled: true
  ingress:
    enabled: true
    ingressClassName: nginx
    hosts:
      - host: query.example.com
        paths:
          - path: /
    tls:
       - hosts:
           - query.example.com
         secretName: chart-example-tls
ruler:
  enabled: true
  rules:
    value: |
      groups:
          - name: general.rules
            interval: 30s
            rules:
              - alert: InstanceDown
                expr: up == 0
                for: 5m
                labels:
                  severity: critical
                annotations:
                  summary: "Instance {{ $labels.instance }} down"
                  description: "{{ $labels.instance }} of job {{ $labels.job }} has been down for more than 5 minutes."
compactor:
  enabled: true
  persistence:
    enabled: true
    storageClass: "ssd"
receiver:
  enabled: true
  router:
    ingress:
      enabled: true
bucketweb:
  enabled: true
  tolerations: [ ]
